<div class="container bg-dark">
    <br><br>
    <div class="row">
        <div class="col text-light">
            <!-- <p style="text-align:center">Footer</p>
            <p style="text-align:center">Footer</p> -->
        </div>

        <div class="col text-light">
            <!-- <p style="text-align:center">Footer</p>
            <p style="text-align:center">Footer</p> -->
        </div>

        <div class="col text-light text-align-right">
            <!-- <p style="text-align:center">Footer</p>
            <p style="text-align:center">Footer</p> -->
            <p>Copyright UP Manila CS 128.1 Group 4</p>
        </div>
    </div>
    <br><br>
</div>