{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% include 'catalog/head-modules.html' %}
    <title>Products</title>
</head>
<body>
    {% include 'catalog/header.html' %}
    <!-- page here -->

    <div class="container">

        <br>
        <!-- featured products -->
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <br><br><br>
                <div class="container bg-light p-5">

                    <div class="row">
                        <div class="col-4">

                            <!-- carousel -->
                            <div id="featureditems" class="carousel slide carousel-dark carousel-fade" data-bs-ride="carousel">
                                <!-- carousel indicators -->
                                <div class="carousel-indicators">
                                    {% for photo in product.photos.all %}
                                        {% if forloop.first %}
                                        <button type="button" data-bs-target="featured-items" data-bs-slide-to="{{forloop.counter0}}" class="active"></button>
                                        {% else %}
                                        <button type="button" data-bs-target="featured-items" data-bs-slide-to="{{forloop.counter0}}"></button>
                                        {% endif %}
                                    {% endfor %}
                                </div>
    
                                <!-- carousel contents -->
                                <div class="carousel-inner">
                                    {% for photo in product.photos.all %}
                                    {% if forloop.first %}
                                    <div class="carousel-item active">
                                        <img style="height:300px;object-fit:cover;" src="{{photo.photo.url}}" class="d-block w-100">
                                        <div class="carousel-caption d-none d-md-block">
                                        </div>
                                    </div>
                                    {%else%}
                                    <div class="carousel-item">
                                        <img style="height:300px;object-fit:cover;" src="{{photo.photo.url}}" class="d-block w-100">
                                        <div class="carousel-caption d-none d-md-block">
                                        </div>
                                    </div>
                                    {%endif%}
                                    {%empty%}
                                    <div class="carousel-item active">
                                        <div class="d-flex img-thumbnail bg-white mb-2 justify-content-center align-items-center" style="height:300px">
                                            <div>
                                                <small class="my-auto">No image available.</small>
                                            </div>
                                        </div>
                                        <div class="carousel-caption d-none d-md-block">
                                        </div>
                                    </div>
                                    {%endfor%}
                                </div>
    
                                <!-- carousel controls -->
                                <button class="carousel-control-prev" type="button" data-bs-target="#featureditems" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#featureditems" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                </button>
                            </div>
                            <!-- carousel end -->

                        </div>

                        <div class="col">
                            <div class="row align-items-baseline">
                                <div class="col-auto">
                                    <h2>{{product.name}}</h2>
                                </div>

                                {% if user.user_type == 1 %}
                                <div class="col">           
                                    <a href="{% url 'productsMediaPage' product.id %}" class="border rounded-3 p-0 text-secondary"><i class="fa-solid fa-image fa-fw"></i></a>
                                    <a href="{% url 'productsEditPage' product.id %}" class="border rounded-3 p-0 text-secondary"><i class="fa-solid fa-pen-to-square fa-fw"></i></a>            
                                </div>
                                {% endif %}
                            </div>
                            <div>
                                <h5 class="fs-6">
                                    <b class="fs-5">Ratings:</b>
                                    {% for star in productStars.0 %}
                                    <i class="text-warning fa-solid fa-star"></i>
                                    {% endfor %}
                                    {% for star in productStars.1 %}
                                    <i class="text-warning fa-solid fa-star-half-stroke"></i>
                                    {% endfor %}
                                    {% for star in productStars.2 %}
                                    <i class="text-warning fa-regular fa-star"></i>
                                    {% endfor %}
                                    <span>{{product.rating}} <small class="text-muted">({{misc.reviewCount}} reviews)</small></span>
                                </h5>
                            </div>
                            <h5 class="fs-6">
                                <b class="fs-5">Categories:</b>
                                <!-- for loop all categories -->
                                {{product.category}} &nbsp;
                                <!-- end for -->
                            </h5>
                            <!-- if reviewer -->
                            {% if user.user_type == 4 %}
                                <h5 class="fs-6"><b class="fs-5">Stock:</b> {{product.stocks}} item(s) left</h5>
                                <h5 class="fs-6"><b class="fs-5">Price:</b> P{{product.sellingprice}}</h5>
                            {% elif user.user_type == 1 %}
                            <!-- if manager -->
                                <h5 class="fs-6"><b class="fs-5">Stock:</b> {{product.stocks}} <small class="text-muted"> / {{product.reorderlvl}}</small></h5>
                                <h5 class="fs-6"><b class="fs-5">Selling Price:</b> P{{product.sellingprice}}</h5>
                            {% endif %}
                            <h5 class="fs-6"><p class="fs-6">{{product.description}}</p></h5>
                        </div>
                    </div>

                    <!-- see suppliers only if manager -->
                    {% if user.user_type == 1 %}
                    <h4 class="my-5">Suppliers</h4>
                    <div class="container">
                        <div class="container bg-white overflow-auto p-3" style="height:300px;">

                            <!-- loop through all suppliers -->
                            {% for supplierProduct in supplierProducts %}
                            <div class="container-fluid my-2 p-2 bg-light border">
                                <div class="row align-items-middle">
                                    <div class="col-auto">
                                        <img src="{{supplierProduct.supplier.displaypicture.url}}" alt="" height="100px" width="100px">
                                    </div>
                                    <div class="col">
                                        <h5>{{supplierProduct.supplier.name}}</h5>
                                        <p class="lh-1 my-2"><b>Lead Time:</b> {{supplierProduct.leadtime}} days </p>
                                        <p class="lh-1 my-2"><b>Supplier Price:</b> P{{supplierProduct.supplierprice}} </p>
                                        <p class="lh-1 my-2"><b>Discounts:</b> {{supplierProduct.discount}} </p>
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                            <div class="container bg-light border p-5 my-5 text-center">
                                <h5>There are no suppliers for this product.</h5>
                                <p class="text-muted m-0">Link this product to a suppplier in the suppliers page.</p>
                            </div>
                            {% endfor %}
                            <!-- end for -->

                        </div>
                    </div>
                    {% endif %}


                    <br><br><br>
                    <h4>Reviews</h4>
                    <br>

                    <div class="container">

                    <!-- for loop all reviews -->
                    {% for review in reviewArray %}
                        <div class="container bg-white border p-4 my-2">
                            <!-- {{review}} -->
                            <div class="row align-items-baseline mb-3">
                                <div class="col-auto">
                                    <img src="" alt="" height="50px" width="50px">
                                </div>
                                <div class="col-auto">
                                    <h5>{{review.0.reviewer}}</h5>
                                </div>
                                <div class="col">
                                    <p>{{review.0.date}}</p>
                                </div>
                                <!-- if user is owner of review -->
                                {% if review.0.reviewer.user == user %}
                                <div class="col text-end">
                                    <a href="{% url 'reviewsEditPage' review.0.id%}" class="border rounded-3 p-2 text-black"><i class="fa-solid fa-pen-to-square fa-fw"></i></a>
                                </div>
                                {% endif %}
                            </div>
                            <h5>
                                <!-- rating -->
                                <div class="fs-6">
                                    {% for star in review.1.0 %}
                                    <i class="text-warning fa-solid fa-star"></i>
                                    {% endfor %}
                                    {% for star in review.1.2 %}
                                    <i class="text-warning fa-regular fa-star"></i>
                                    {% endfor %}
                                    {{review.0.rating}} <small class="text-muted">/ 5</small>
                                </div>

                            </h5>
                            <p class="my-2">{{review.0.details}}</p>
                        </div>
                    {% empty %}

                        <div class="container bg-white border p-5 my-2 text-center">
                            <h5>There are no reviews yet.</h5>
                            {% if user.user_type == 4 %}
                            <p class="text-muted m-0">Leave a review!</p>
                            {% endif %}
                        </div>

                    {% endfor %}

                        <!-- only visible if reviewer -->
                        {% if user.user_type == 4 %}
                        <div class="row justify-content-end mt-5">
                            <div class="col col-sm-auto">
                                <a href="{% url 'reviewsAddPage' product.id%}" class="btn btn-success"><i class="fa-solid fa-pencil"></i> &nbsp; Write a review</a>
                            </div>
                        </div>
                        {% endif %}
                        <br>
                    
                    </div>
                    


                </div>

            </div>
        </div>
        <br><br>

        <br><br><br>

    </div>


    <!-- end of page -->
    {% include 'catalog/footer.html' %}
    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>