{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% include 'catalog/head-modules.html' %}
    <title>Products</title>
</head>
<body>
    {% include 'catalog/header.html' %}
    <!-- page here -->

    <div class="container w-75">

        <br>
        <h2 class="py-4 px-4"><i class="fa-solid fa-user"></i> My Profile</h2>
        <div class="container bg-light p-5">
            
            <h4><i class="fa-solid fa-screwdriver-wrench"></i> Edit Profile</h4>
            <hr><br>
            <!-- form start -->
            <form method = "POST" action="" enctype = "multipart/form-data">
                {% csrf_token %}
                <div class="row gx-5 px-4">
                    
                    <!-- replace all p and input with form | as_crispy_form -->
                    <div class="col">
                        
                        {{uform.username | as_crispy_field}}
                        <br>
                        {% if user.user_type == 1 %}
                        {{uform.first_name | as_crispy_field}}
                        <br>

                        {{uform.last_name | as_crispy_field}}
                        <br>
                        {% elif user.user_type == 4 %}

                        {{profile.name | as_crispy_field}}
                        <br>

                        {%endif%}

                        {{profile.profilepicture | as_crispy_field}}
                        <br>
                    </div>

                    <div class="col">

                        {{uform.email | as_crispy_field}}
                        <br>
                        {% if user.user_type == 4 %}
                        {{profile.address | as_crispy_field}}
                        <br>

                        {{profile.contact | as_crispy_field}}
                        <br>
                        {%endif%}

                    </div>

                </div>

                <div class="row justify-content-end mt-5 px-4">
                    <div class="col col-sm-auto">
                        <button class="btn btn-success" type="submit"><i class="fa-solid fa-floppy-disk"></i> &nbsp;Save changes</button>
                        <a href="{% url 'profilePage' %}" class="btn btn-secondary"><i class="fa-solid fa-x"></i> Cancel</a>
                    </div>
                </div>

            </form>
            <!-- form end -->

        </div>

        <br><br>

        <br><br><br>

    </div>


    <!-- end of page -->
    {% include 'catalog/footer.html' %}
    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>