{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% include 'catalog/head-modules.html' %}
    <title>Products</title>
</head>
<body>
    {% include 'catalog/header.html' %}
    <!-- page here -->

    <div class="container w-75">

        <br>
        <h2 class="py-4 px-4"><i class="fa-solid fa-shop fs-2"></i> Suppliers</h2>
        <div class="container bg-light p-5">
            
            <!-- supplier -->
            <!-- for loop (no limit) -->
            {% for supplier in suppliers %}
            {% if not supplier.isarchived %}
            <div class="row border bg-white p-3 mb-3">
                <div class="col-auto align-self-center">
                    <img src="{{supplier.displaypicture.url}}" alt="" height="125px" width="125px">
                </div>

                <div class="col align-self-center">
                    <h5>{{supplier.name}}</h5>
                    <p class="my-0"><i class="fa-solid fa-fw fa-map"></i> {{supplier.address}}</p>
                    <p class="my-0"><i class="fa-solid fa-fw fa-envelope"></i> {{supplier.email}}</p>
                    <p class="my-0"><i class="fa-solid fa-fw fa-phone"></i> {{supplier.telephone}}</p>
                    <p class="my-0"><i class="fa-solid fa-fw fa-user"></i> {{supplier.contactperson}}</p>
                </div>

                <!-- <div class="col-auto align-self-end text-end">
                    <a href="" class="btn btn-lg px-2"><i class="fa-solid fa-store"></i></a>
                    <a href="" class="btn btn-lg px-2"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="" class="btn btn-lg px-2"><i class="fa-solid fa-trash"></i></a>
                </div> -->

                <div class="col-auto align-self-end text-end">
                    <a href="{% url 'supplierProductsPage' supplier.id %}" class="btn btn-success btn-sm"><i class="fa-solid fa-store"></i> Products</a>
                    <a href="{% url 'supplierEditPage' supplier.id %}" class="btn btn-warning btn-sm"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                    <!-- <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deletePopup"><i class="fa-solid fa-trash"></i> Delete</button> -->
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#archivePopup{{supplier.id}}"><i class="fa-solid fa-box-archive"></i> Archive</button>
                </div>
            </div>

            <!-- popup for archive -->
            <div class="modal" id="archivePopup{{supplier.id}}" tab-index="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5>Archive supplier</h5>
                            <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to archive this supplier?</p>
                        </div>
                        <div class="modal-footer">
                            <!-- link to archive here -->
                            <a class="btn btn-danger" href="{% url 'archiveSupplier' supplier.id %}"><i class="fa-solid fa-box-archive"></i> Archive</a>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-x"></i> Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- end of loop -->
            {% endif %}
            {% endfor %}


            <div class="row justify-content-end mt-5">
                <div class="col col-sm-auto">
                    <a href="{% url 'supplierAddPage' %}" class="btn btn-success"><i class="fa-solid fa-plus"></i> Add a supplier</a>
                </div>
            </div>

        </div>

        <br><br>

        <br><br><br>

    </div>


    <!-- end of page -->
    {% include 'catalog/footer.html' %}
    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>